@font-face {
    font-family: '.';
    src: url('1d2942afac1e8d76b1b82d346ddb0f27.woff2') format('woff2'),
        url('1d2942afac1e8d76b1b82d346ddb0f27.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

