@font-face {
  font-family: 'Maquette';
  src:
    url('1d2942afac1e8d76b1b82d346ddb0f27.woff2') format('woff2'),
    url('1d2942afac1e8d76b1b82d346ddb0f27.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Maquette', sans-serif;
}

body > *:not(.nomove) {
  position: relative;
  top: 90px;
}

.outLinks {
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: space-between;
  background: black;
  padding: 0 10px;
  font-size: 13px;
  z-index: 10;
}

.outLinks li {
  padding-left: 12px;
}

.outLinks ul {
  display: flex;
  color: rgba(255, 255, 255, 0.6);
  list-style: none;
  height: 32px;
  align-items: center;
}

header {
  position: fixed;
  top: 32px;
  height: 48px;
  background: white;
  display: flex;
  justify-content: space-between;
  width: 100%;
  z-index: 15;
}

header * {
  height: 100%;
}

header nav ul li {
  display: inline-block;
  margin-left: 20px;
  font-size: 14px;
}

header nav ul a {
  display: inline-block;
  display: flex;
  align-items: center;
  color: #aaa;
  text-decoration: none;
}

.main {
  width: 100%;
  margin: 0 auto;
  max-width: 1192px;
}

.trending {
  margin: 0 10px;
  display: grid;
  height: 60vh;
  max-height: 560px;
  background: red;
  gap: 10px;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: repeat(6, 1fr);
  grid-template-areas:
    "a1 a2"
    "a1 a2"
    "a1 a2"
    "a1 a3"
    "a1 a3"
    "a1 a3";
}

.trending article:nth-of-type(1) {
  grid-area: a1;
}

.trending article:nth-of-type(2) {
  grid-area: a2;
}

.trending article:nth-of-type(3) {
  grid-area: a3;
}

.latest {
  display: flex;
  flex-wrap: wrap;
  margin: 50px 10px;
  background-color: blue;
}

.latest h2 {
  display: block;
  flex: none;
  width: 100%;
}

.wrap-row {
  max-width: 25%;
  padding: 10px;
  background-color: lightblue;
}

.latest > article img {
  width: 100%;
}

.funding {
  display: flex;
  flex-wrap: wrap;
  margin: 50px 10px;
  height: 293px;
}

.fundingTop {
  display: flex;
  flex: none;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
}

.fundingTop ul {
  list-style: none;
}

.fundingTop ul li {
  display: inline-block;
}

.funding article {
  position: relative;
  width: 560px;
  background-color: lightgrey;
}

.funding article img {
  position: absolute;
  top: 20px;
  left: 20px;
}

.funding .fundingHeader div {
  padding: 10px 0 10px 70px;
}

.funding .fundingHeader div:nth-of-type(1) {
  background-color: orangered;
}

.funding .fundingHeader div:nth-of-type(2) {
  background-color: grey;
}

.funding .fundingInfo {
  background-color: lightgray;
}

.topics {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.topics article {
  padding: 20px;
  max-width: 33.3333%;
}

.topics article > * {
  padding: 15px;
}

.topics article figure {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
  height: 320px;
  background-color: lightpink;
}

.topics article ul {
  padding: 0 15px;
}

.topics article ul li {
  border-bottom: 1px solid #bbb;
  padding: 5px 0;
}

.topics article ul li::marker {
  color: orangered;
}
